<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <form #carForm="ngForm" *ngIf="car$ | async as car">
        <div class="form-group">
          <label class="form-control" for="id">id</label>
          <input [(ngModel)]="car.id" class="form-control" type="hidden" name="id" id="id">
        </div>
        <div class="form-group">
          <label class="form-control" for="model">model</label>
          <input required pattern="^[A-Z][a-zA-Z0-9 ]{1,14}$" [(ngModel)]="car.model" class="form-control" type="text"
            name="model" id="model">
        </div>
        <div class="form-group">
          <label class="form-control" for="make">make</label>
          <input required pattern="^[A-Z][a-zA-Z]{2,19}$" [(ngModel)]="car.make" class="form-control" type="text"
            name="make" id="make">
        </div>
        <div class="form-group">
          <label class="form-control" for="year">year</label>
          <input required pattern="^[\d]+$" [(ngModel)]="car.year" class="form-control" type="number" name="year"
            id="year">
        </div>
        <div class="form-group">
          <label class="form-control" for="price">price</label>
          <input required pattern="^[\d]{3,5}$" [(ngModel)]="car.price" class="form-control" type="number" name="price"
            id="price">
        </div>
        <div class="form-group">
          <label class="form-control" for="stock">stock</label>
          <input required pattern="^(\d|[1-4][0-9]|50)$" [(ngModel)]="car.stock" class="form-control" type="number"
            name="stock" id="stock">
        </div>
        <div class="form-group">
          <label class="form-control" for="active">active</label>
          <input [(ngModel)]="car.active" class="form-control" type="text" name="active" id="active">
        </div>
        <button (click)="onUpdate(car)" [disabled]="carForm.invalid" class="btn btn-success">Save</button>
      </form>
    </div>
  </div>
</div>
